<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>
<body>
    <h3>write new chat</h3>
    <form method="POST" action="/chats">
        <input  placeholder="who are you?" name="from">
        <br></br>
        <textarea name="message" placeholder="write message you want to send"></textarea>
        <br></br>
        <input placeholder="add receiver" name="to"/>
        <br></br>
        <button>Create chat</button>
    </form>
</body>
</html>